{# 
   forumlist/body.html.twig
   List (sub)forums
#}
{% for forum in forumrow %}
    {% if not forum.S_IS_FIRST_ROW and forum.S_IS_CAT %}
    </section>
    {% endif %}

    <section class={{ forum.S_IS_CAT ? 'category' : 'forum' }}>
        {{ forum.FORUM_NAME }}
        <details>
        {% for key, value in forum %}
        {{ key }}: {{ value }}<br>
        {% endfor %}
        </details>
    {% if not forum.S_IS_CAT %}
    </section>
    {% endif %}
    
    {% if forum.S_LAST_ROW  %}
    </section>
    {% endif %}

{% endfor %}