{# 
   forumlist/body.html.twig
   List (sub)forums
#}
Here goes forum list <br>
{% for forum in forumrow %}
    {% if forum.S_IS_CAT and not forum.S_FIRST_ROW %}
    </section>
    {% endif %}

    <section class={{ forum.S_IS_CAT ? 'category' : 'forum' }}>
        {# {% for key, value in forum %}
        {{ key }}: {{ value }}<br>
        {% endfor %} #}
        {{ forum.FORUM_NAME }}
    </section>
    
    {% if forum.S_LAST_ROW %}
    </section>
    {% endif %}

{% endfor %}