{# 
    index/body.html.twig
    Main index page template
 #}
{% extends "layout/base.html.twig" %}
{% block body %}
<header>
{% include "overall_header/body.html.twig" %}
</header>
<main>
    {% include "forumlist/body.html.twig" %}
</main>
{% endblock %}